body {
    background-color: #5d536b;
}

.pagetitle {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
    color: aliceblue;
}
.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7d6b91;
    border-radius: 10px;
    padding: 10px;
    width: 420px;
}

img {
    width: 500px;
    height: 350px;
    border-radius: 10px;
}



.content  {
    font-family: 'Roboto', sans-serif;
    color: #b7bbda;
    flex: 1;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 6px;
    text-decoration: none;
}

.button:hover {
    background-color: #5d536b;
    color: aliceblue;
}

/** Estilo Recetas **/

